<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dataProvider" value="SQLServer"/>
		<add key="connectingString" value="Data Source=192.168.2.122;Initial Catalog=BTBuild;Persist Security Info=True;User ID=sa;Password=sa"/>
		<add key="DefaultConnectString" value="User Id=TSMID;Password=test1;Data Source=orcl;Max Pool Size=500;Incr Pool Size=5;Decr Pool Size=2;Validate Connection=true"/>
		<add key="DefaultConnectString1" value="User Id=ATS001;Password=test1;Data Source=orcl;Max Pool Size=500;Incr Pool Size=5;Decr Pool Size=2;Validate Connection=true"/>
	</appSettings>
	<connectionStrings>
		<add name="sqlProvider" connectionString="Data Source=192.168.2.122;Initial Catalog=BTBuild;Persist Security Info=True;User ID=sa;Password=sa"/>
		<add name="oracleProvider" connectionString="Data Source=orcl;user=ats001;password=test1;"/>
	</connectionStrings>
</configuration>